.process {
  width: 300px;
  padding: 1rem;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.process > img {
  height: 170px;
  border-radius: 8px;
}

.process__info > p {
  margin-bottom: 8px;
}

.info__price {
  font-weight: bold;
}

.info__name {
  font-size: 1rem;
  overflow: hidden;
}
.info__description {
  font-size: 0.8rem;
}

.info__button {
  background: #dd219e;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  width: -webkit-fill-available;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.info__button:hover {
  background: #171717;
  color: #f4f4f4;
}

@media (max-width: 1232px) {
  .process {
    width: 360px;
  }
}

@media (max-width: 1115px) {
  .process {
    width: 330px;
  }
}
@media (max-width: 1028px) {
  .process {
    width: 300px;
  }
}
@media (max-width: 960px) {
  .process {
    width: 400px;
  }
}
@media (max-width: 830px) {
  .process {
    width: 330px;
  }
}
@media (max-width: 700px) {
  .process {
    width: 290px;
  }
}
@media (max-width: 630px) {
  .process {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .process {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .process {
    width: 300px;
  }
}
